@page
@model SmartPPC.Api.Pages.Stations.StationConfigModel
@{
    ViewData["Title"] = "Station Configuration";
}

<h1>Station Configuration</h1>

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

@if (Model.SuccessMessage != null)
{
    <div class="alert alert-success">@Model.SuccessMessage</div>
}

<component type="typeof(SmartPPC.Api.Pages.Stations.StationConfigComponent)" render-mode="ServerPrerendered"
    param-ModelInputs="Model.ModelInputs" />
